<div class="container">
          <div class="row">
   <div class="col-sm-12">
    <h2 class="page-header">Events</h2>
  </div>
        </div>
                <div class="row">
                  <form name="registrationForm"  ng-submit="submitForm(date)" method="POST" enctype="multipart/form-data" novalidate >
    <div class="col-sm-3">
      <div class="form-group mb-lg" ng-class="{'has-error' : registrationForm.fromdate.$invalid && !registrationForm.fromdate.$pristine}">
        <label>Event From</label>
        <div class="input-group input-group-icon">
            <datepicker date-format="yyyy-MM-dd">
                  <!--  <input type="text" name="dateofbirth" class="form-control" ng-model="register.dob"  required/>-->
                  <input type="text" name = "fromdate" ng-required="true" class="form-control datepicker" ng-model="date.fromdate" required>
                </datepicker>

          <span class="input-group-addon"> <span class="icon"> <i class="fa fa-calendar"></i> </span> </span> </div>
      </div>
      <span ng-show="registrationForm.fromdate.$invalid && !registrationForm.fromdate.$pristine" style="color:red">
                          <span style="color:red;" ng-show=" registrationForm.fromdate.$error.required">Email is required.</span>
                      </span>
    </div>

    <div class="col-sm-3">
      <div class="form-group mb-lg" ng-class="{'has-error' : registrationForm.todate.$invalid && !registrationForm.todate.$pristine}">
        <label>Event to</label>
        <div class="input-group input-group-icon">
          <datepicker date-format="yyyy-MM-dd">
                  <!--  <input type="text" name="dateofbirth" class="form-control" ng-model="register.dob"  required/>-->
                  <input type="text" name="todate" class="form-control datepicker" ng-required="true" ng-model="date.todate" required>
                </datepicker>
          <span class="input-group-addon"> <span class="icon"> <i class="fa fa-calendar"></i> </span> </span> </div>
      </div>
      <span ng-show="registrationForm.todate.$invalid && !registrationForm.todate.$pristine" style="color:red">
                          <span style="color:red;" ng-show=" registrationForm.todate.$error.required">Email is required.</span>
                      </span>
    </div>
    <div class="col-sm-3 page-search-wrap">
      <button  ng-disabled="registrationForm.$invalid" type="submit" class="btn btn-primary hidden-xs">Sign In</button>
      <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" ng-disabled="registrationForm.$invalid">Sign In</button>
      <!-- <button ng-disabled="registrationForm.$invalid" type="submit"  class="btn btn-primary hidden-xs"><i class="fa fa-search"></i> Search</button> -->
    </div>
 </form>
               </div>


  <div class="row mt-30" ng-show="len">

    <div class="col-sm-6" ng-repeat="Event in items | orderBy: 'event_date'">
      <div class="event-wrp-bg mb-20">
        <div class="date-wrap">
            <div class="date-wrap-date"><span ng-bind="Event.event_date | date:'dd'"></span></div>
          <div class="date-wrap-monthyear mt-15"><span ng-bind="Event.event_date | date:'MMM-yy'"></span></div>
        </div>
        <div class="date-disc-wrap">
          <div class="event-header">{{Event.event_name}}</div>
          <div class="event-disc">

            <p ng-show="Event.event_content.length <=20">{{Event.event_content |  limitTo:20}} </p>
            <p ng-show="Event.event_content.length >20">{{Event.event_content| limitTo:
                     Event.is_active ?  100:Event.event_content }}
                     <span style="color:black" > </span>
                     <span ng-click="showchanges(items.indexOf(Event))" ng-if="Event.is_active==true" ><strong>{{".. more"}}</strong></span>
                     <span ng-click="showchanges(items.indexOf(Event))" ng-if="Event.is_active==false"><strong>{{".. less"}}</strong></span>
                   </p>

          </div>
        </div>
      </div>
    </div>
           <div ng-if="pager.totalPages >1">
          <ul ng-if="pager.pages.length" class="pagination pull-right">
            <li ng-class="{disabled:pager.currentPage === 1}" class="prev disabled"> <a ng-click="setPage(pager.currentPage - 1)"> <i class="fa fa-chevron-left"></i> </a> </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                   <a ng-click="setPage(page)">{{page}}</a>
               </li>
            <!-- <li class="active"> <a href="#">1</a> </li>
            <li> <a href="#">2</a> </li>
            <li> <a href="#">3</a> </li>
            <li> <a href="#">4</a> </li>
            <li> <a href="#">5</a> </li> -->
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}" class="next"> <a ng-click="setPage(pager.currentPage + 1)"> <i class="fa fa-chevron-right"></i> </a> </li>
          </ul>
        </div>




  </div>
  <div ng-show="!len">
    <p> no records found</p>
  </div>

</div>
